In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.4-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.4/51.4 KB 1.7 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 8.9 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 7.5 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 6.8 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 20.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.4

In [2]:
import os

In [3]:
import yfinance as yf
data = yf.download("^FTSE", start='2018-01-01', end='2022-12-31')

[*********************100%***********************]  1 of 1 completed

In [4]:
import pandas as pd

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02 00:00:00+00:00,7687.799805,7691.299805,7624.100098,7648.100098,7648.100098,576251800
2018-01-03 00:00:00+00:00,7648.100098,7689.899902,7640.500000,7671.100098,7671.100098,571662800
2018-01-04 00:00:00+00:00,7671.100098,7702.500000,7671.100098,7695.899902,7695.899902,705864000
2018-01-05 00:00:00+00:00,7695.899902,7727.700195,7689.799805,7724.200195,7724.200195,636035700
2018-01-08 00:00:00+00:00,7724.200195,7733.399902,7691.799805,7696.500000,7696.500000,635135400
...,...,...,...,...,...,...
2022-12-22 00:00:00+00:00,7497.299805,7540.299805,7463.500000,7469.299805,7469.299805,402305900
2022-12-23 00:00:00+00:00,7469.299805,7496.399902,7462.799805,7473.000000,7473.000000,222853700
2022-12-28 00:00:00+00:00,7473.000000,7547.000000,7473.000000,7497.200195,7497.200195,416900400
2022-12-29 00:00:00+00:00,7497.200195,7516.399902,7434.600098,7512.700195,7512.700195,351759900
2022-12-30 00:00:00+00:00,7512.700195,7512.899902,7451.700195,7451.700195,7451.700195,254135300

In [6]:
data.reset_index(inplace=True)
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-02 00:00:00+00:00,7687.799805,7691.299805,7624.100098,7648.100098,7648.100098,576251800
1,2018-01-03 00:00:00+00:00,7648.100098,7689.899902,7640.500000,7671.100098,7671.100098,571662800
2,2018-01-04 00:00:00+00:00,7671.100098,7702.500000,7671.100098,7695.899902,7695.899902,705864000
3,2018-01-05 00:00:00+00:00,7695.899902,7727.700195,7689.799805,7724.200195,7724.200195,636035700
4,2018-01-08 00:00:00+00:00,7724.200195,7733.399902,7691.799805,7696.500000,7696.500000,635135400
...,...,...,...,...,...,...,...
1257,2022-12-22 00:00:00+00:00,7497.299805,7540.299805,7463.500000,7469.299805,7469.299805,402305900
1258,2022-12-23 00:00:00+00:00,7469.299805,7496.399902,7462.799805,7473.000000,7473.000000,222853700
1259,2022-12-28 00:00:00+00:00,7473.000000,7547.000000,7473.000000,7497.200195,7497.200195,416900400
1260,2022-12-29 00:00:00+00:00,7497.200195,7516.399902,7434.600098,7512.700195,7512.700195,351759900
1261,2022-12-30 00:00:00+00:00,7512.700195,7512.899902,7451.700195,7451.700195,7451.700195,254135300

In [7]:
# df['timestamp'] = pd.to_datetime(df.index, '%d/%m/%Y').dt.date
data['Date'] = data['Date'].dt.strftime('%m/%d/%Y')

In [8]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,01/02/2018,7687.799805,7691.299805,7624.100098,7648.100098,7648.100098,576251800
1,01/03/2018,7648.100098,7689.899902,7640.500000,7671.100098,7671.100098,571662800
2,01/04/2018,7671.100098,7702.500000,7671.100098,7695.899902,7695.899902,705864000
3,01/05/2018,7695.899902,7727.700195,7689.799805,7724.200195,7724.200195,636035700
4,01/08/2018,7724.200195,7733.399902,7691.799805,7696.500000,7696.500000,635135400
...,...,...,...,...,...,...,...
1257,12/22/2022,7497.299805,7540.299805,7463.500000,7469.299805,7469.299805,402305900
1258,12/23/2022,7469.299805,7496.399902,7462.799805,7473.000000,7473.000000,222853700
1259,12/28/2022,7473.000000,7547.000000,7473.000000,7497.200195,7497.200195,416900400
1260,12/29/2022,7497.200195,7516.399902,7434.600098,7512.700195,7512.700195,351759900
1261,12/30/2022,7512.700195,7512.899902,7451.700195,7451.700195,7451.700195,254135300

In [9]:
data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [10]:
from google.colab import files
data.to_csv('ftse.csv')
files.download('ftse.csv')

In [11]:
df = data[['Date', 'Close']].copy()

In [12]:
df

            Date        Close
0     01/02/2018  7648.100098
1     01/03/2018  7671.100098
2     01/04/2018  7695.899902
3     01/05/2018  7724.200195
4     01/08/2018  7696.500000
...          ...          ...
1257  12/22/2022  7469.299805
1258  12/23/2022  7473.000000
1259  12/28/2022  7497.200195
1260  12/29/2022  7512.700195
1261  12/30/2022  7451.700195

[1262 rows x 2 columns]

In [13]:
df.to_csv('ftse_close.csv')
files.download('ftse_close.csv')